input {
	color: #1ea7fd;
	width: 120px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #1ea7fd;
	background-color: #fff;
	margin: 10px;
}

input:focus {
	outline: none;
}

input[type="submit"] {
	background-color: #1ea7fd;
	color: #fff;
}

input[type="submit"]:hover {
	background-color: #fff;
	color: #1ea7fd;
}

input[type="submit"]:focus {
	background-color: #fff;
}